body{

  font family: sans-serif;
  background-image: url(../images/shoe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
}
.head{
  margin-left: auto;
  margin-right: auto;
}
hr{
  color: #ddd;
}
h1{
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
}
.me{
  margin: auto;
  margin-top: 20%;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
img{
  width:600px;
}
#content{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#bestgames{


}
#food{
  margin: auto;
  margin-top: 15%;


}
#footer{
  border: 4px solid #EDE1DF;
  background-color: #EDE1DF;
  color: white;
  text-align: right;
  font-size: 50px;
  font-family: monospace;

}
.me img{
  border-radius: 30px;
}
#myimage img{
  border-radius: 300px;
}
#projects{
  font-family: sans-serif;
  color: white;
  height: 59%;
  text-align: center;
}
#projects ul {
  list-style-type: upper-latin;
  text-align: center;
}
